@page
@model HotelReservationManager.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Rooms</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Type)
            </th>
            <th>
                Is Taken
            </th>
            <th>
                Adult Price
            </th>
            <th>
                Child Price
            </th>
            <th>
                Room Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Room) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
