@page
@model HotelReservationManager.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].DateOfAccommodation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].BreakfastIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].AllInclusiveIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].OwedAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAccommodation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakfastIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllInclusiveIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwedAmount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReservationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReservationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReservationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
